@page
@model PrivacyModel
@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>

<style>
    .result {
        display: block;
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
        font-size: 24px; /* Adjust the font size as needed */
    }
    .div1{
        margin-left: 150px;
        
    }

    .div2 label {
        margin-top: -450px; /* Adjust the margin top value as needed */
        margin-left:650px;
    }
</style>

<label class="result">Survey Results</label>
<br />
<br />
<br />

<div class="div1">
    <label>Total number of surveys:
        <br />
        Average age:
        <br />
        Oldest person who participated in survey:
        <br />
        Youngest person who participated in survey:
        <br />
        <br />
        Percentage of people who like Pizza:
        <br />
        Percentage of people who like Pasta:
        <br />
        Percentage pf people who like Pap nad Wors:
        <br />
        <br />
        People who like to watch movies:
        <br />
        People who like to listen to radio:
        <br />
        People who like to eat out:
        <br />
        People who like to watch TV:
    </label>
</div>
<div class="div2">
    <label>
        #surveys:
        <br />
        #Average age:
        <br />
        #Oldest person:
        <br />
        #Youngest person:
        <br />
        <br />
        #%like Pizza:
        <br />
        #%like Pasta:
        <br />
        #%Pap nad Wors:
        <br />
        <br />
        #watch movies:
        <br />
        #listen to radio:
        <br />
        #eat out:
        <br />
        #watch TV:
    </label>
</div>

